.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 150px;
}

.section1 .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.section1 .main .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 85px;
  /* or 142% */
  color: #00194a;
}

.section1 .main .description {
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section1 .main .button {
  background-color: #ff0043;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 50px;
  margin-top: 50px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px;
}

.section2 .card {
  width: 200px;
}

.section2 .card .name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #00194a;
}

.section2 .card .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section2 .card .link {
  text-decoration: underline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: relative;
}

.section2 .card .description::after {
  content: "";
}

.section2 .card .link::after {
  content: url("../images/download.png");
  position: absolute;
  left: 200px;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-left: 37px;
}

.section3 .text {
  width: 500px;
}

.section3 .text .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  /* or 143% */
  color: #00194a;
}

.section3 .text .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 150px;
}

.section4 .main {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .main .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #00194a;
}

.section4 .main .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section4 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 50px;
}

.section4 .content .part1,
.section4 .content .part2 {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .content .part2 {
  padding-left: 50px;
}

.section4 .content .card {
  width: 260px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 100px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.section4 .content .card .card-text {
  position: relative;
}

.section4 .content .card .card-text .name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00194a;
}

.section4 .content .card .card-text .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section4 .content .card .card-text::before {
  position: absolute;
  top: -70px;
}

.section4 .content .card .image-shield::before {
  content: url("../images/shield.png");
}

.section4 .content .card .image-share::before {
  content: url("../images/share.png");
}

.section4 .content .card .image-comment::before {
  content: url("../images/comment.png");
}

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 124px;
  padding-top: 50px;
}

.section5 .images {
  padding-right: 80px;
  padding-bottom: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section5 .images .oval {
  position: relative;
  left: -200px;
  top: 200px;
}

.section5 .content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section5 .content-text .title {
  width: 465px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  /* or 143% */
  color: #00194a;
}

.section5 .content-text .description {
  width: 465px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #00194a;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section6 {
  background-color: #00194a;
  padding: 50px 0px;
  margin: 0px 150px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section6 .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 30px;
}

.section6 .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 50px;
  width: 580px;
}

.section6 .button {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 50px;
  background-color: #ff0043;
  border-radius: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 81px 150px;
}

footer .about {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00194a;
}

footer .shares {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .shares .text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: right;
  color: #00194A;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */